body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 1em;
    background-image: url("images/javascript.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    color: hsl(240, 55%, 30%);
}